.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 40px auto;
  font-family: "Lexend", sans-serif;
}

.settings-field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.settings-field input {
  background: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.settings-field input:focus {
  border-color: #ffeb3b;
  box-shadow: 0 0 5px #ffeb3b;
}

.settings-field label {
  color: #cccccc;
  font-size: 0.9rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(12px);
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.settings-field input:focus + label,
.settings-field input:not(:placeholder-shown) + label {
  transform: translateY(-20px);
  font-size: 0.8rem;
  color: #ffeb3b;
}

.genre-list-container {
  margin-top: 20px;
  text-align: center;
}

.genre-list-container h2 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
}

.genre-list button {
  background-color: #2d2d2d;
  color: #ffffff;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.genre-list button:hover {
  background-color: #444444;
  transform: scale(1.05);
}

.genre-list button.selected {
  background-color: #ffeb3b;
  color: #1c1c1c;
  border: 2px solid #ffeb3b;
  font-weight: bold;
}

@media (max-width: 768px) {
  .genre-list {
    gap: 10px;
  }

  .genre-list button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

.genre-list button.selected {
  background-color: #ffeb3b;
  color: #1c1c1c;
  border: 2px solid #ffeb3b;
  font-weight: bold;
}
