.genre-container {
  background-color: black;
  padding: 1rem;
  border-right: 1px solid gray;
  height: 100%;
  overflow-y: auto;
}

.genres-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.genre {
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.genre:hover {
  background-color: #444;
  color: lightgray;
}

.genre.active {
  background-color: #444;
  color: lightgray;
  font-weight: bold;
}

.main-content {
  background-color: black;
}